@model BibleForum.Models.ReplyReply.PostReplyReplyModel

@{
    ViewData["Title"] = "Create";
}

<div class="container body-content">
    <div class="row sectionHeader">
        <div class="sectionHeading">
            You are replying to <strong>@Model.ReplyOriginalAuthor's</strong> comment
        </div>

        <span id="headingBtn">
            <a asp-controller="Post" asp-action="Index" asp-route-id="@Model.PostId" class="btn btn-back">
                Back to Reply
            </a>
        </span>
    </div>
    <div class="row createPostSection">
        <div id="postReply">
            <p style="white-space: pre-line">
                @Model.PostReplyContent
            </p>
        </div>
        <div class="row">
            <div id="createReply">
                <div class="authorBlock">
                    You're submitting this Reply as <strong>@Model.AuthorName</strong>
                </div>

                <form asp-action="AddReply" method="post" id="addPostForm">
                    <div class="form-group">
                        <textarea asp-for="ReplyContent" rows="10" class="form-control" placeholder="Your reply.."></textarea>
                        <span asp-validation-for="ReplyContent" class="text-danger"></span>

                    </div>
                    <button type="submit" id="submitReplyBtn" class="btn btn-submitPost">Submit Reply</button>
                    <input asp-for="AuthorId" type="hidden" />
                    <input asp-for="PostId" type="hidden" />
                    <input asp-for="PostReplyId" type="hidden" />
                    @*<input asp-for="ForumId" type="hidden" />*@
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
