@model BibleForum.Models.ReplySupportingBibleVerse.PostReplySupportingBibleVerseModel

@{
    ViewData["Title"] = "Create Verse";
}

<div class="container contact-form">
    <form asp-action="AddSupportingVerse" method="post" id="">
        <h3 style="font-family: 'Knewave', cursive;">Create Supporting Verse</h3>
        <div asp-validation-summary="All" class="">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input asp-for="BibleBook" class="form-control" id="italicPlaceholder" placeholder="John" />
                        <span asp-validation-for="BibleBook" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="BibleChapter" class="form-control" id="italicPlaceholder" placeholder="3:16" />
                        <span asp-validation-for="BibleChapter" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="BibleTranslation" class="form-control" id="italicPlaceholder" placeholder="NIV" />
                        <span asp-validation-for="BibleTranslation" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <textarea asp-for="BibleVerse" class="form-control" id="italicPlaceholder" style="width: 100%; height: 135px;"></textarea>
                        <span asp-validation-for="BibleVerse" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                </div>
                <div class="col-md-6" style="text-align:right; padding-top:15px">
                    <button type="submit" id="newFormBtn" class="btnContact">Create Verse</button>
                </div>
            </div>
        </div>
            <input asp-for="AuthorId" type="hidden" />
            <input asp-for="PostId" type="hidden" />
            <input asp-for="PostReplyId" type="hidden" />
</form>
</div>

