@model BibleForum.Models.ReplySupportingBibleVerse.PostReplySupportingBibleVerseModel

@{
    ViewData["Title"] = "Create";
}

<div class="container body-content">
    <div class="row sectionHeader">
        <div class="sectionHeading">
            Create Supporting Verse
        </div>
    </div>
    <div class="row">
        <div class="createPostSection">
            <div id="createForumSection">
                <form asp-action="AddSupportingVerse" method="post" id="">
                    <div asp-validation-summary="All" class="">

                        <div class="form-group">
                            <label asp-for="BibleBook">Book</label>
                            <input asp-for="BibleBook" class="form-control" id="italicPlaceholder" placeholder="John" />
                            <span asp-validation-for="BibleBook" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="BibleChapter">Chapter</label>
                            <input asp-for="BibleChapter" class="form-control" id="italicPlaceholder" placeholder="3:16" />
                            <span asp-validation-for="BibleChapter" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="BibleTranslation">Translation</label>
                            <input asp-for="BibleTranslation" class="form-control" id="italicPlaceholder" placeholder="NIV" />
                            <span asp-validation-for="BibleTranslation" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="BibleVerse">Verse</label>
                            <textarea asp-for="BibleVerse" class="form-control" id="italicPlaceholder" placeholder="For God so loved the world that he gave his one and only Son, that whoever believes in him shall not perish but have eternal life."></textarea>
                            <span asp-validation-for="BibleVerse" class="text-danger"></span>
                        </div>
                        <button type="submit" id="newFormBtn" class="btn btn-submitPost">Create Verse</button>
                    </div>
                    <input asp-for="AuthorId" type="hidden" />
                    <input asp-for="PostId" type="hidden" />
                    <input asp-for="PostReplyId" type="hidden" />
                </form>
            </div>
        </div>
    </div>
</div>

