
/* Custom Button -> Hover pattern*/

.btn-back {
    background-color: #59b9af;
    color: #fff !important;
    transition: ease-in 0.1s;
    border-radius: 0px !important;
}

    .btn-back:hover {
        transition: ease-in 0.1s;
        background-color: #9FA8DA !important;
    }


.btn-newReply {
    background-color: #59b9af !important;
    color: #fff !important;
    transition: ease-in 0.1s;
    border-radius: 0px !important;
}

    .btn-newReply:hover {
        background-color: #9FA8DA !important;
        transition: ease-in 0.1s;
    }


.btn-file {
    color: white;
    width: 100%;
    background-color: #4FC3F7;
    transition: ease 0.3s;
}

    .btn-file:hover {
        background-color: #039BE5;
        transition: ease 0.3s;
    }


.btn-newpost {
    background-color: #C62828 !important;
    color: #fff !important;
    transition: ease-in 0.1s;
    border-radius: 0px !important;
}

    .btn-newpost:hover {
        transition: ease-in 0.1s;
        background-color: #E53935 !important;
        color: #fff !important;
    }


.btn-submitPost {
    background-color: #00695C !important;
    color: #fff !important;
    transition: ease-in 0.1s;
    border-radius: 0px !important;
}

    .btn-submitPost:hover {
        transition: ease-in 0.1s;
        background-color: #00897B !important;
        color: #fff !important;
    }


.btn-forumSearch {
    background: none !important; /*No Background*/
    border: none;
    padding: 0 !important;
    font: inherit;
}

    .btn-forumSearch:hover {
        color: blue;
    }


.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
    position: relative;
}

.btn-fresh {
    color: #fff;
    background-color: #51bf87;
    border-bottom: 2px solid #41996c;
    font-family: 'Roboto Mono';
}

    .btn-fresh:hover, .btn-sky.active:focus, .btn-fresh:focus, .open > .dropdown-toggle.btn-fresh {
        color: #fff;
        background-color: #66c796;
        border-bottom: 2px solid #529f78;
        outline: none;
    }


    .btn-fresh:active, .btn-fresh.active {
        color: #fff;
        background-color: #47a877;
        border-top: 2px solid #39865f;
        outline: none;
        outline-offset: none;
        margin-top: 2px;
    }

.btn:focus,
.btn:active:focus,
.btn.active:focus {
    outline: none;
    outline-offset: 0px;
}