
/* Custom Button -> Hover pattern*/

.btn-back {
    background-color: #555;
    color: #fff !important;
    transition: ease-in 0.1s;
    border-radius: 0px !important;
}

    .btn-back:hover {
        transition: ease-in 0.1s;
        background-color: #1E88E5 !important;
    }


.btn-newReply {
    background-color: #59b9af !important;
    color: #fff !important;
    transition: ease-in 0.1s;
    border-radius: 0px !important;
}

    .btn-newReply:hover {
        background-color: #9FA8DA !important;
        transition: ease-in 0.1s;
    }


.btn-file {
    color: white;
    width: 100%;
    background-color: #4FC3F7;
    transition: ease 0.3s;
}

    .btn-file:hover {
        background-color: #039BE5;
        transition: ease 0.3s;
    }


.btn-newpost {
    background-color: #C62828 !important;
    color: #fff !important;
    transition: ease-in 0.1s;
    border-radius: 0px !important;
}

    .btn-newpost:hover {
        transition: ease-in 0.1s;
        background-color: #E53935 !important;
        color: #fff !important;
    }


.btn-submitPost {
    background-color: #00695C !important;
    color: #fff !important;
    transition: ease-in 0.1s;
    border-radius: 0px !important;
}

    .btn-submitPost:hover {
        transition: ease-in 0.1s;
        background-color: #00897B !important;
        color: #fff !important;
    }


.btn-forumSearch {
    background: none !important; /*No Background*/
    border: none;
    padding: 0 !important;
    font: inherit;
}

    .btn-forumSearch:hover {
        color: blue;
    }
