
/* Create Post */

.createPostSection {
    background-color: #fff;
    padding: 60px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2), 0 6px 6px rgba(0,0,0,0.3);
}

.authorBlock {
    padding: 18px;
    border: 1px dashed #00897B;
    margin-bottom: 8px;
}

.noBorder {
    border: none;
}
