/* Forum Topic Page*/
.searchBar {
    padding: 3px 5px 2px 12px;
    margin: 8px;
    background-color: #333;
    width: 25%;
    transition: ease .3s;
    border: none;
}

    .searchBar:focus {
        width: 60%;
    }
