
/* Forum Page */

#forumIndexTable td {
    background-color: hsla(192, 100%, 100%, 0.40);
}

#forumIndexTable tr:hover {
    background-color: white;
}

.forumData {
    display: inline-block;
}

.forumTitle {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 1.1em;
}

.forumSubtitle {
    color: #888;
    font-family: 'Roboto Mono';
    font-size: 0.8em;
}

.forumDescription {
    color: #555;
    font-family: 'Roboto';
}

.forumLogo {
    border-radius: 3px;
    float: left;
    margin-right: 20px;
    height: 46px;
    width: 40px;
    background-repeat: no-repeat;
}

.forumLetterLogo {
    font-family: 'Merienda One', cursive;
    margin: 0 auto 35px;
    text-align: center;
    font-weight: 900;
    font-size: 3.4vw;
    margin-bottom: 30px;
    padding: 0 160px 0 160px;
    text-shadow: 2px 3px 0px #898999;
    line-height: 1.2;
}

.forumPostCount {
    color: #888;
    font-family: 'Roboto Mono';
    font-size: 0.9em;
}

.forumMemberCount {
    color: #888;
    font-family: 'Roboto Mono';
    font-size: 0.9em;
}

#forumIndexContent {
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 5px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2), 0 6px 6px rgba(0,0,0,0.3);
    background-color: hsla(192, 100%, 100%, 0.30)
}

.noPosts {
    text-align: center;
    padding-top: 30px;
}

.forumHeader {
    font-family: 'Roboto';
}

.forumHeader {
    background-color: rgba(0,0,0,0.9);
    padding: 8px 0 14px 15px;
}

.forumHeading {
    color: white;
    font-size: 1.3em;
    font-family: 'Roboto';
    padding: 16px 0 16px 0;
    border-bottom: 1px solid #335;
    margin-bottom: 12px;
}

.hasRecentPost {
    padding: 2px;
    background-color: red;
    color: #fff;
    border-radius: 1px;
    width: 30px;
    text-align: center;
    align-content: center;
}
