/*Front Page*/

.frontPageSplash {
    background-image: url("../images/theme/front-splash.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2), 0 6px 6px rgba(0,0,0,0.3);
}

.frontPageLearn {
    font-family: 'Roboto';
    padding: 12px 0 0 32px;
    height: 360px;
}

.sectionDescription {
    color: #EEE;
}

.frontPageHeading {
    font-size: 3.4vw;
    margin: 16px 0;
    color: floralwhite;
}

.frontPageSubHeading {
    font-size: 1.4vw;
    color: floralwhite;
    font-family: "Roboto";
}

.frontPageHeading span {
    background-color: hsla(206, 25%, 75%, 0.40);
}

.frontPageSubHeading span {
    background-color: hsla(206, 25%, 75%, 0.40);
}

.homeSearch {
    width: 100%;
    margin-top: 8px;
    background: rgba(0,0,0,0.1); /*No background*/
    padding: 8px;
    border: 0px; /*No borders*/
    height: 2.3em;
    font-size: 2.1em;
    font-family: 'Roboto Mono';
    font-weight: bold;
    transition: ease-in 0.2s;
    color: antiquewhite;
}

    .homeSearch:focus {
        border: none !important;
        outline: none !important;
        transition: ease-in 0.2s;
        color: #03A9F4;
        background-color: rgba(0,0,0,0.5);
        box-shadow: 0 5px 4px -6px #000;
    }

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 1001px) {
    .homeSearch {
        font-size: 2.1em;
    }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 1000px) {
    .homeSearch {
        font-size: 1.5em;
        width: 85%;
    }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
    .homeSearch {
        font-size: 0.9em;
        width: 70%;
    }
}

.frontPageContent {
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 5px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2), 0 6px 6px rgba(0,0,0,0.3);
    background-color: ghostwhite;
}

#latestPosts {
    font-size: 1.2em;
    font-weight: bold;
    margin: 4px 0 16px 0;
    align-content: center;
    padding-top: 20px;
}

    #latestPosts td {
        background-color: rgba(255,255,255,0.9);
    }

    #latestPosts tr:hover {
        background-color: rgba(0,116,238,1);
    }
