
/* Replies */

.replyContent {
    display: table;
    background-color: lightyellow;
    width: inherit;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2), 0 6px 6px rgba(0,0,0,0.3);
    padding: 10px 0 10px 10px;
}

#postReplyRow {
    background-color: lightsteelblue;
    padding: 8px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2), 0 6px 6px rgba(0,0,0,0.3);
}

.replyContentContainer, .replyAuthorContainer {
    display: table-cell;
    padding: 12px;
}

.replyContentContainer {
    border-left: 1px solid #ddd
}

.replyAuthorContainer {
    padding: 12px;
    color: #444;
    font-family: 'Roboto';
    width: 190px;
}

.replyVoteEditDeleteContainer {
    padding: 1px;
    font-family: 'Roboto';
}

.isAdmin {
    display: inline-block;
    padding: 3px;
    background-color: #FFEB3B;
    color: #000;
    font-family: 'Roboto Mono';
}

.smaller {
    font-size: 0.8em;
}

#replyDivider {
    height: 2px;
    margin-bottom: 12px;
}

.isEdited {
    font-family: "Roboto Mono";
    font-style: italic;
    font-size: xx-small;
    text-align: left;
    color: grey;
}

.editOrDelete {
    float: right;
    margin-right: 20px;
}

.vote {
    float: right;
}

.voteReplyReply {
    background-color:blue;
    color: white;
}

.voteCount {
    font-family: "Roboto Mono";
}

.doubleLineBreak {
    line-height: 2em; /* chrome for instance */
}


#login {
    display: none;
}

.login,
.logout {
    position: absolute;
    top: -3px;
    right: 0;
}

.page-header {
    position: relative;
}

.reviews {
    color: #555;
    font-weight: bold;
    margin: 10px auto 20px;
}

.notes {
    color: #999;
    font-size: 12px;
}

.media .media-object {
    max-width: 120px;
}

.media-body {
    position: relative;
}

.media-date {
    position: absolute;
    right: 25px;
    top: 25px;
}

    .media-date li {
        padding: 0;
    }

        .media-date li:first-child:before {
            content: '';
        }

        .media-date li:before {
            content: '.';
            margin-left: -2px;
            margin-right: 2px;
        }

.media-comment {
    margin-bottom: 20px;
}

.media-replied {
    margin: 0 0 20px 50px;
}

    .media-replied .media-heading {
        padding-left: 6px;
    }

.btn-circle {
    font-weight: bold;
    font-size: 12px;
    padding: 6px 15px;
    border-radius: 20px;
}

    .btn-circle span {
        padding-right: 6px;
    }

.embed-responsive {
    margin-bottom: 20px;
}

.tab-content {
    padding: 50px 15px;
    border-top: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.custom-input-file {
    overflow: hidden;
    position: relative;
    width: 120px;
    height: 120px;
    background: #eee url('https://s3.amazonaws.com/uifaces/faces/twitter/walterstephanie/128.jpg');
    background-size: 120px;
    border-radius: 120px;
}

input[type="file"] {
    z-index: 999;
    line-height: 0;
    font-size: 0;
    position: absolute;
    opacity: 0;
    filter: alpha(opacity = 0);
    -ms-filter: "alpha(opacity=0)";
    margin: 0;
    padding: 0;
    left: 0;
}

.uploadPhoto {
    position: absolute;
    top: 25%;
    left: 25%;
    display: none;
    width: 50%;
    height: 50%;
    color: #fff;
    text-align: center;
    line-height: 60px;
    text-transform: uppercase;
    background-color: rgba(0,0,0,.3);
    border-radius: 50px;
    cursor: pointer;
}

.custom-input-file:hover .uploadPhoto {
    display: block;
}

.wellColor {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background: hsla(222, 100%, 100%, 0.91);
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}