
/* Replies */

.replyContent {
    display: table;
    background-color: lightyellow;
    width: inherit;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2), 0 6px 6px rgba(0,0,0,0.3);
    padding: 10px 0 10px 10px;
}

#postReplyRow {
    background-color: lightsteelblue;
    padding: 8px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2), 0 6px 6px rgba(0,0,0,0.3);
}

.replyContentContainer, .replyAuthorContainer {
    display: table-cell;
    padding: 12px;
}

.replyContentContainer {
    border-left: 1px solid #ddd
}

.replyAuthorContainer {
    padding: 12px;
    color: #444;
    font-family: 'Roboto';
    width: 190px;
}

.replyVoteEditDeleteContainer {
    padding: 1px;
    font-family: 'Roboto';
}

.isAdmin {
    display: inline-block;
    padding: 3px;
    background-color: #FFEB3B;
    color: #000;
    font-family: 'Roboto Mono';
}

.smaller {
    font-size: 0.8em;
}

#replyDivider {
    height: 2px;
    margin-bottom: 12px;
}

.isEdited {
    font-family: "Roboto Mono";
    font-style: italic;
    font-size: xx-small;
    text-align: left;
    color: grey;
}

.editOrDelete {
    float: right;
    margin-right: 20px;
}

.vote {
    float: right;
    margin-right: 20px;
}

.voteCount {
    font-family: "Roboto Mono";
}

.doubleLineBreak {
    line-height: 2em; /* chrome for instance */
}
