body {
    padding: 50px 0 20px 0;
    background: linear-gradient(to right bottom, #ffffff, #f6f5fb, #ebecf8, #e0e3f4, #d3dbf1, #c8daf6, #bbdafa, #abdafd, #95e3ff, #7decff, #68f4fe, #5ffbf1);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.navLogo{
    background-image:url("/images/logo-3.png");
    background-size:100%;
    background-repeat: no-repeat;
    padding-right:16px;
    width:150px;
    margin-right:12px;
    background-position:center;
}

.navbarColor {
    background-color: hsla(192, 100%, 100%, 0.22);
}

.navbar-inner {
    height: 80px;
}

.navbar li{
}

.sectionHeader {
    background-color: white;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2), 0 6px 6px rgba(0,0,0,0.3);
    padding: 8px 0 24px 25px;
}

.sectionHeading {
    color: darkslategrey;
    font-size: 1.3em;
    font-family: 'Roboto';
    font-weight:200;
    padding: 16px 0 16px 0;
    border-bottom: 1px solid #335;
    margin-bottom: 12px;
}

.sectionDescription {
    color: darkslategrey;
    font-family: 'Roboto';
}

.postHeading{
    color: black;
    font-size: 1.1em;
    font-family: 'Roboto';
    padding: 16px 0 16px 0;
}

.sectionInfo{
    height: 400px;
    background-color: white;
}

/* Search Table */
.searchTable {
    background-color: lightyellow;
    margin-bottom: 20px;
}

/* Table */
.tableShadow {
    box-shadow: 0 10px 20px rgba(0,0,0,0.2), 0 6px 6px rgba(0,0,0,0.3);
}


/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 20px;
    padding-right: 20px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
