
/* User Profiles */

.userProfile {
    padding: 32px 0 64px 24px;
    background-color: white;
    background-position: center;
    background-size: cover;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2), 0 6px 6px rgba(0,0,0,0.3);
}

#userEmailLabel, #userBioLabel, #userCreatedLabel, #userRating, #userActiveLabel {
    display: block;
    color: #444;
    font-family: 'Roboto';
    padding-top: 3px;
}

#userName {
    display: block;
    color: #2569d5;
    font-family: 'Roboto';
    font-size: 1.7em;
}

#isAdmin {
    color: red;
    font-weight: bold;
}

#userProfileImage {
    display: inline-block;
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* Profile Index */
.userProfilePic {
}

.profileTableIndex {
    background-color: floralwhite;
    font-family: 'Roboto';
}
